// ### Primary

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);

// ### Neutral

$v-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// ### Others

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);


$weight400: 400;
$weight700: 700;

$small-screen: 500px;
// $medium-screen: px;
$large-screen: 1440px;


